* { /*engloba a todo el html*/
    /*font-family: sans-serif !important;*/
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.espacio{
    margin-top: 20px;
}

.contenedor{ /*estilos contenedor principal*/
   
    max-width: 1400px !important;
    width:100%;
    display:block;
    margin: 0 auto;}
.colheader {/*estilos divison en columnas*/
    width: calc((100% - 100px)/3) !important; /*Esto lo uso para dividir en 3 columnas y organizar la página*/
    float: left;
    margin-right: 20px;
    z-index: 1;
    }
/*-----------------------------------------------------------*/
/* SCRIPT JQUERY ACTIVE*/
.active {
    border-bottom: 3px solid #007ac3;
   
}
.active-menu {
    
}
.active-boton {
    background-color: #ff0000;
    color: white;
}
/*---------------------*/
#btn-menu {
    display: none;
}


header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover{
    cursor: pointer;
    background-color: #007ac3;
}

.menu-principal ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu-principal li {
    text-align: center;
    flex-grow: 1;/*Cada elemento del menu se distribuye uniformemente*/
}
/*   ----------------------- ANTIGUO MENÚ
.menu-principal li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black
}

.menu-principal li:hover{
    background-color: #007ac3;
    
}

.menu-principal a:hover{
    color: white;
    
}
    */
    .menu-principal li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
        color: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient( to right, #007ac3, #007ac3 50%, black 50%);
        background-size: 200% 100%;
        background-position: 100%;
    }
    
.menu-principal li a:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}
    
    
/*responsive design*/
@media screen and (max-width:947px)/*Para modificar si se desea*/{
    header label{
        display: block;
        margin-top: 12px;
        margin-left: 18px;
    }

    .menu-principal{
        position: absolute;
        width: 40%;
        margin-left: -110%;
        transition: all 0.5s;
        margin-top: 20px;
    }

    .menu-principal ul{
        flex-direction: column;
        background-color: #007ac3;
    }

    .menu-principal li{
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu-principal { /*Cuando este el check buscara y mostrara la clase menu*/
        margin: 0;
        z-index: 1;
    }

    .menu-principal li:hover{
        background-color: white;
    }
    .menu-principal li a{
        color: white;
    }

    .menu-principal a:hover{
        color: black;
    }
    .menu-principal li a:active {
        border-bottom: 2px solid #007ac3;
    }
    
}

/*-----------------------------------------------------------*/

/*Estilos botones*/    

.botones{   /*botones registro y login*/
    text-align: right;
    margin-top: 17px;
    
}

.botones a{ /*diseño botones*/
    
    padding: 6px; /*espacio alrededor texto*/
    background-color: #007ac3; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-align: center;
    border-radius: 2px; /*bordes redondos*/
    }
.botones a:hover{
    background-color: #004f7c;
}
.botones a:active{
    background-color: darkgoldenrod;
}

.login{ /*separacion boton login*/
    margin: 19px;
}

@media screen and (max-width: 947px){
    .botones a{
        padding: 0px;
        
    }
}

/*Estilos formulario alta usuario*/
.formulario_alta_usuario{
    position: absolute;
    display: block;
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-family: sans-serif !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.botones input{ /*diseño botones*/
    
    padding: 6px; /*espacio alrededor texto*/
    background-color: #007ac3; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-align: center;
    border-radius: 2px; /*bordes redondos*/
    }

.campos{
    margin-bottom: 7px;
}

.campos input{
    width: 100%;
}

/*Estilos errores de formulario*/
div.error {
    color: red;	
	border: 2px solid red;
	padding: 10px;
	margin: 18px;
}





/*Estilos banner (imagen del index)*/
.banner img{
    position: relative;
    display: block;
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
@media screen and (max-width: 800px){
    .banner img{
        position: relative;
        margin-top: 20px;
        width: 100%;
    }
}
.texto-banner h3{
    text-align: center;
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
}

div.boton1{
    text-align: center;
    margin-top: 25px;
}



/*Estilos footer*/
footer{
    position:fixed; 
    bottom:0;
    width: 100%;
    background-color: #007ac3; 
    color: #ffffff;
}

.centrar{
    text-align: center !important;
}
.derecha{
    text-align: right !important;
}
.footercol{
    width: calc((100% - 100px)/3) !important;
    float: left;   
    padding: 10px;
}

/*---------------------------------------------------------*/
/* Estilos LOGIN */
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.3);
    margin: 100px auto;
}

    .login h1 {
        text-align: center;
        color: #3492eb;
        font-size: 24px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #3492eb;
    }

    .login form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .login form label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #3274d6;
            color: #ffffff;
    }
    .login form input[type="password"], .login form input[type="text"] {
            width: 310px;
            height: 50px;
            border: 1px solid #dee0e4;
            margin-bottom: 20px;
            padding: 0 15px;
    }

    .login form input[type="submit"] {
            width: 100%;
            padding: 15px;
            margin-top: 20px;
            background-color: #3274d6;
            border: 0;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
            transition: background-color 0.2s;
    }

    .login form input[type="submit"]:hover {
                background-color: #2868c7;
                transition: background-color 0.2s;
    }

    

    .texto_sobre_nosotros{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }
    
    .titulo_sobre_nosotros{
        
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
        
    }

    /*Campo de texto formulario de contacto*/
    textarea{
        width: 100%;
        height: 80px;
    }

    /* BARRA RRSS*/
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

/* PRIVACIDAD */
.pprivacidad {
    text-align: center;
    display: block;
    width: 50%;
    margin-left: 20%;
}

/* SLIDER */
/* Contenedor del slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
   z-index: -1;
    
}

/* Esconde las imagenes, necesario */
.mySlides {
    display: none;
    
}

/* ESTILO BOTONES ANTERIOR/SIGUIENTE Slideshow */
.prev, .next {
    cursor: pointer;
   // position: absolute;
   // top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #007ac3;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
    
}

/* Posicionar el botón derecho */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* Añadir un fondo en hover */
    .prev:hover, .next:hover {
        background-color: black;
    }

/* Texto en slideshow */
.text {
    color: white;//#007ac3;
    font-size: 25px;
    font-weight: 400;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: rgba(71, 76, 81, 0.81);
}

/* TEXTO NÚMERO sin usar */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Puntos bajo el slideshow */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Animación FADE slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* BORDE IMAGEN SLIDESHOW*/
.borderimg {
    border: 2px solid #007ac3;
}

/* PERFIL USUARIO*/
.profile-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
}

.profilepic {
    margin-left: 10%;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    padding: -.6rem;
    border-collapse: separate;
    perspective: 1px;
    border: 3px solid #007ac3;
    border-radius: 100%;
}

td {
    font-weight: bold;
}